body{
    background: darkgrey;
}
h1{
    color: white; text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    1px 1px 0 #000,
    1px 1px 0 #000;
}
.vs-container{
    display: inline-flex;
}

.versus{
    margin: auto 5px;
    float: right;
}